.emp-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: darkorange;
}
/*following css will apply each list item which is under emp-items class*/
.emp-items li{
font-size: 2em;
list-style: none;
color: hsl(0, 0%, 25%);
text-align: center;
margin: 0;
}

.emp-items li:hover{
  color:  hsl(0, 0%, 50%);
  cursor: pointer;
}